In [91]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from lxml import etree
import yfinance as yf

In [92]:
ticker = "AURE3"
base_url = f"https://www.dadosdemercado.com.br/acoes/{ticker}"
try:
    response = requests.get(base_url)
    response.raise_for_status()
except requests.exceptions.RequestException as e:
    print(f"Erro ao acessar página principal de ELET3: {e}")

soup = BeautifulSoup(response.text, 'html.parser')
tables = soup.find_all(attrs={'id': ('balances', 'cashflows', 'incomesYear')})

In [93]:
i = 0
for idx, table in enumerate(tables):
    rows = table.find_all('tr')
    table_data = []

    for row in rows:
        headers_in_row = row.find_all('th')
        if headers_in_row:
            cols = [ele.text.strip() for ele in headers_in_row]
        else:
            cols = [ele.text.strip() for ele in row.find_all('td')]
        table_data.append(cols)
    var = 'df' + str(i)
    vars()[var] = pd.DataFrame(table_data)
    i += 1

In [94]:
for i in range(0,3):
    var = 'df' + str(i)
    vars()[var].columns = vars()[var].iloc[0]
    vars()[var] = vars()[var][1:].reset_index(drop=True)

In [95]:
df0

,Conta,1T2025,4T2024,3T2024,2T2024,1T2024,4T2023,3T2023,2T2023,1T2023,4T2022,3T2022,2T2022,1T2022,4T2021,3T2021,2T2021,1T2021,4T2020
0,Ativo total,"52,27 B","52,75 B","31,49 B","29,26 B","27,69 B","28,99 B","31,22 B","33,01 B","33,69 B","32,28 B","29,34 B","29,39 B","28,45 B","19,56 B","18,53 B","18,03 B","18,26 B","18,42 B"
1,Ativo circulante,"11,09 B","11,13 B","9,68 B","7,32 B","5,35 B","5,94 B","7,79 B","9,19 B","6,90 B","6,27 B","5,50 B","5,95 B","5,47 B","2,35 B","1,88 B","1,69 B","1,83 B","1,74 B"
2,Caixa e eq. de caixa,"6,13 B","7,20 B","5,28 B","4,99 B","3,09 B","3,24 B","4,90 B","6,23 B","3,34 B","3,13 B","2,88 B","3,21 B","3,05 B","1,60 B","1,38 B","1,19 B","1,29 B","1,10 B"
3,Aplicações financeiras,"31,45 M","2,63 M","14,40 M",0,0,0,0,"59,61 M","58,00 M","105,35 M","102,61 M","142,90 M","124,66 M","77,75 M",0,0,0,0
4,Contas a receber,"1,40 B","1,49 B","919,20 M","575,06 M","569,25 M","679,48 M","656,78 M","569,73 M","577,27 M","617,86 M","625,92 M","549,63 M","556,03 M","328,63 M","330,26 M","325,71 M","382,85 M","384,39 M"
5,Estoques,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,Ativos biológicos,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7,Ativo não circulante,"41,17 B","41,62 B","21,82 B","21,94 B","22,35 B","23,06 B","23,43 B","23,82 B","26,79 B","26,01 B","23,84 B","23,44 B","22,99 B","17,21 B","16,65 B","16,34 B","16,43 B","16,68 B"
8,Investimentos,"2,30 B","2,26 B","2,11 B","2,05 B","2,11 B","2,06 B","2,11 B","2,13 B","2,19 B","2,16 B","1,08 B","1,02 B","1,10 B",0,0,0,0,0
9,Imobilizado,"26,15 B","26,35 B","11,64 B","11,73 B","11,80 B","11,91 B","11,88 B","11,22 B","10,66 B","10,44 B","10,15 B","9,75 B","9,18 B","8,99 B","8,90 B","8,63 B","8,72 B","8,83 B"
10,Intangível,"7,23 B","7,34 B","2,52 B","2,43 B","2,44 B","2,46 B","2,54 B","2,56 B","2,57 B","2,59 B","3,79 B","3,83 B","3,87 B","2,37 B","2,18 B","1,74 B","1,75 B","1,77 B"
11,Passivo total,"52,27 B","52,75 B","31,49 B","29,26 B","27,69 B","28,99 B","31,22 B","33,01 B","33,69 B","32,28 B","29,34 B","29,39 B","28,45 B","19,56 B","18,53 B","18,03 B","18,26 B","18,42 B"
12,Passivo circulante,"7,64 B","7,15 B","5,03 B","2,99 B","3,18 B","3,85 B","4,07 B","4,34 B","4,04 B","4,20 B","3,11 B","574,37 M","3,09 B","1,60 B","1,07 B","989,69 M","1,56 B","1,45 B"
13,Fornecedores,"1,04 B","1,31 B","784,73 M","422,94 M","410,72 M","572,32 M","935,02 M","736,37 M","574,06 M","549,02 M","467,97 M","431,88 M","431,42 M","225,58 M","290,40 M","160,16 M","149,59 M","147,93 M"
14,Empréstimos e financ.,"2,44 B","2,71 B","807,10 M","775,33 M","865,02 M","857,87 M","439,86 M","954,46 M","286,58 M","278,53 M","240,04 M","229,58 M","207,85 M","210,78 M","114,71 M","128,70 M","115,49 M","130,76 M"
15,Passivo não circulante,"30,04 B","31,12 B","13,88 B","13,96 B","12,29 B","12,77 B","13,19 B","13,89 B","14,17 B","12,83 B","13,28 B","13,32 B","12,54 B","8,91 B","8,31 B","8,61 B","8,52 B","8,72 B"
16,Emprést. de longo prazo,"23,72 B","24,51 B","7,58 B","7,53 B","5,67 B","5,56 B","5,77 B","5,77 B","5,88 B","5,60 B","5,57 B","5,36 B","4,63 B","4,51 B","4,21 B","3,66 B","3,65 B","3,63 B"
17,Patrimônio líquido,"14,58 B","14,48 B","12,59 B","12,32 B","12,22 B","12,37 B","13,96 B","14,79 B","15,48 B","15,25 B","12,95 B","12,73 B","12,82 B","9,05 B","9,15 B","8,43 B","8,18 B","8,25 B"
18,Aos não controladores,"1,33 B","1,28 B",0,0,0,0,0,0,0,0,0,0,0,"4,59 B","4,77 B","4,29 B","4,28 B","4,37 B"

In [96]:
df1

,Conta,1T2025 (TTM),2024,2023,2022,2021,2020
0,Receita líquida,"9,61 B","8,06 B","6,18 B","5,52 B","2,62 B","2,31 B"
1,Custos,"-7,64 B","-6,63 B","-4,86 B","-4,37 B","-2,01 B","-1,41 B"
2,Lucro bruto,"1,97 B","1,43 B","1,33 B","1,14 B","612,70 M","899,28 M"
3,Despesas operacionais,"-190,96 M","-137,34 M","-252,15 M","247,98 M","-34,78 M","14,82 M"
4,EBIT,"1,78 B","1,29 B","1,07 B","1,39 B","577,93 M","914,11 M"
5,Resultado financeiro,"-1,38 B","-761,29 M","-238,01 M","1,66 B","-767,05 M","-722,41 M"
6,Antes dos impostos,"398,89 M","530,37 M","835,91 M","3,05 B","-189,12 M","191,70 M"
7,Imposto,"-326,64 M","-258,50 M","-1,15 B","-374,73 M","-281,21 M","1,46 B"
8,Op. continuadas,"72,25 M","271,87 M","-317,69 M","2,68 B","-470,33 M","1,65 B"
9,Op. descontinuadas,0,0,0,0,0,0
10,Lucro líquido,"72,25 M","271,87 M","-317,69 M","2,68 B","-470,33 M","1,65 B"
11,Dos controladores,"259,43 M","250,94 M","-317,69 M","2,67 B","58,74 M","624,81 M"
12,Dos não controladores,"66,43 M","20,93 M",0,"4,21 M","252,91 M","1,03 B"

In [97]:
df2

0               Conta      2024      2023      2022       2021       2020
0  Caixa líq. operac.  600,53 M    4,66 B  416,77 M     1,01 B   930,41 M
1  Dep. e amortização  637,36 M  641,81 M  580,09 M   559,00 M   531,52 M
2  Caixa líq. financ.   -4,50 B   -1,77 B   -1,10 B  -751,24 M  -303,73 M
3  Caixa líq. invest.    7,86 B   -2,78 B    2,15 B   231,62 M  -511,38 M

In [98]:
def convert_value(value):
    multp = {'t': 1e12, 'b': 1e9, 'm': 1e6, 'mil': 1e3}
    val_str = str(value).strip().lower()
    parts = val_str.split(' ')

    if len(parts) == 2:
        x, y = parts
        x = x.replace(',', '.')
        x = float(x) * multp.get(y, 1)
        return int(x)
    
    return int(value)

try:
    for i in range(0,3):
        var = 'df' + str(i)
        vars()[var][vars()[var].columns[1:]] = vars()[var][vars()[var].columns[1:]].map(convert_value)
except Exception as e:
    print(f'Valores inconsistenmtes para o valuation de {ticker}: {str(e)}')

In [99]:
df0_1 = df0.drop(df0.columns[1], axis=1)
df0_1 = df0_1.drop(df0_1.columns[6:], axis=1)
df0_1 = df0_1.drop(df0_1.columns[2:5], axis=1)
df0_1

0                     Conta       4T2024       4T2023
0               Ativo total  52750000000  28990000000
1          Ativo circulante  11130000000   5940000000
2      Caixa e eq. de caixa   7200000000   3240000000
3    Aplicações financeiras      2630000            0
4          Contas a receber   1490000000    679480000
5                  Estoques            0            0
6         Ativos biológicos            0            0
7      Ativo não circulante  41620000000  23060000000
8             Investimentos   2260000000   2060000000
9               Imobilizado  26350000000  11910000000
10               Intangível   7340000000   2460000000
11            Passivo total  52750000000  28990000000
12       Passivo circulante   7150000000   3850000000
13             Fornecedores   1310000000    572320000
14    Empréstimos e financ.   2710000000    857870000
15   Passivo não circulante  31120000000  12770000000
16  Emprést. de longo prazo  24510000000   5560000000
17       Patrimônio líquido  14480000000  12370000000
18    Aos não controladores   1280000000            0

In [100]:
df1_1 = df1.drop(df1.columns[1], axis=1)
df1_1 = df1_1.drop(df1_1.columns[3:], axis=1)
df1_1

0                   Conta        2024        2023
0         Receita líquida  8060000000  6180000000
1                  Custos -6630000000 -4860000000
2             Lucro bruto  1430000000  1330000000
3   Despesas operacionais  -137340000  -252150000
4                    EBIT  1290000000  1070000000
5    Resultado financeiro  -761290000  -238010000
6      Antes dos impostos   530370000   835910000
7                 Imposto  -258500000 -1150000000
8         Op. continuadas   271870000  -317690000
9      Op. descontinuadas           0           0
10          Lucro líquido   271870000  -317690000
11      Dos controladores   250940000  -317690000
12  Dos não controladores    20930000           0

In [101]:
df2_1 = df2.drop(df2.columns[3:], axis=1)
df2_1

0               Conta        2024        2023
0  Caixa líq. operac.   600530000  4660000000
1  Dep. e amortização   637360000   641810000
2  Caixa líq. financ. -4500000000 -1770000000
3  Caixa líq. invest.  7860000000 -2780000000

In [102]:
(df0_1[df0_1.columns[1]][14] + df0_1[df0_1.columns[1]][16])

np.int64(27220000000)

In [103]:
LL = df1_1[df1_1.columns[1]][10]
Dep_A = df2_1[df2_1.columns[1]][1]
CapEx = sum(df0_1[df0_1.columns[1]][[9,10]])-sum(df0_1[df0_1.columns[2]][[9,10]])
Cap_G = (df0_1[df0_1.columns[1]][1] - df0_1[df0_1.columns[1]][12]) - (df0_1[df0_1.columns[2]][1] - df0_1[df0_1.columns[2]][12])
Div_Liq_E = ((df0_1[df0_1.columns[1]][14] + df0_1[df0_1.columns[1]][16])-(df0_1[df0_1.columns[2]][14] + df0_1[df0_1.columns[2]][16]))-(df0_1[df0_1.columns[1]][2] - df0_1[df0_1.columns[2]][2])
FCFE = LL + Dep_A - CapEx - Cap_G + Div_Liq_E
print(LL)
print(Dep_A)
print(CapEx)
print(Cap_G)
print(Div_Liq_E)
print(FCFE)

271870000
637360000
19320000000
1890000000
16842130000
-3458640000

In [104]:
EBIT = df1_1[df1_1.columns[1]][4]
Tx_Imp = abs(df1_1[df1_1.columns[1]][7]) / df1_1[df1_1.columns[1]][6]
FCFF = EBIT * (1 - Tx_Imp) + Dep_A - CapEx - Cap_G
FCFF

np.float64(-19911380313.366142)

In [105]:
def get_info(ticker_base):
    variations = [
        ticker_base,
        f"{ticker_base}.SA"
    ]
    
    for variation in variations:
        try:
            dat = yf.Ticker(variation)
            info = dat.info
            beta = info.get('beta')
            if beta is not None:
                print(f"Info from {ticker_base} successfully retrieved")
                return info
        except Exception:
            continue

    return None

In [106]:
info = get_info(ticker)
beta = info.get('beta')
####################################
url = 'https://api.bcb.gov.br/dados/serie/bcdata.sgs.1178/dados/ultimos/1?formato=json'
resp = requests.get(url)
selic = float(resp.json()[0].get('valor')) + 0.1
####################################
Mkt_Price = 0.05
####################################
ke = (beta * Mkt_Price) + (selic/100)
ke

HTTP Error 404:

Info from AURE3 successfully retrieved

0.1604

In [107]:
Div_Liq = (df0_1[df0_1.columns[1]][14] + df0_1[df0_1.columns[1]][16]) - df0_1[df0_1.columns[1]][2]
P_Liq = df0_1[df0_1.columns[1]][17]
W_Div = Div_Liq / (Div_Liq + P_Liq)
W_P_Liq = P_Liq / (Div_Liq + P_Liq)
WACC = (selic/100) * W_Div * (1 - Tx_Imp) + W_P_Liq * ke
WACC

np.float64(0.11194037791172856)

In [108]:
def sect_tx(info):
        setores = {
            'Basic Materials': 0.031,
            'Communication Services': 0.081,
            'Consumer Cyclical': 0.047,
            'Consumer Defensive': 0.035,
            'Energy': 0.034,
            'Financial Services': 0.11,
            'Healthcare': 0.053,
            'Industrials': 0.04,
            'Real Estate': 0.103,
            'Technology': 0.109,
            'Utilities': 0.08
        }
        sector = info.get('sector')
        tx = setores.get(sector, 0.01)
        return tx
YG = sect_tx(info)
LT_G = YG/2
YG

0.08

In [109]:
P_FCFF = [FCFF*(1+YG)]
for i in range(0,4):
    P_FCFF.append(P_FCFF[i]*(1+YG))
P_FCFF

[np.float64(-21504290738.435436),
 np.float64(-23224633997.510273),
 np.float64(-25082604717.311096),
 np.float64(-27089213094.695984),
 np.float64(-29256350142.271664)]

In [110]:
present_value = []
for i in range(0,5):
    present_value.append(P_FCFF[i]/(1+WACC)**(i+1))

present_value[4]

np.float64(-17211258987.622196)

In [111]:
Val_Terminal = P_FCFF[4]*(1+LT_G)/(WACC-LT_G)
ValP_Terminal = Val_Terminal/(1+WACC)**5
Val_Presente_Total = sum(present_value)+ValP_Terminal
Val_Presente_Total

np.float64(-340112315090.9417)

In [112]:
Eq_Val = Val_Presente_Total-Div_Liq
Eq_Val

np.float64(-360132315090.9417)

In [114]:
dom = etree.HTML(str(soup))
try:
    n_acoes = dom.xpath('/html/body/div[3]/div[1]/div[6]/span[2]')[0].text
except:
    n_acoes = dom.xpath('/html/body/div[3]/div[1]/div[7]/span[2]')[0].text
n_acoes = int(''.join(n_acoes.split('.')))
n_acoes

1050377974

In [ ]:
Val_Acao = Eq_Val/n_acoes
Val_Acao

np.float64(-93.99166435152807)

In [ ]:
beta

1.331